.navbar {
  background-color: #242424;
  display: flex;
  justify-content: center;
  padding: 1rem 10%;
  align-items: center;
}

img {
  width: 100%;
}

.logo {
  height: 100%;
  display: flex;
}

.logo:hover {
  cursor: pointer;
}
